form{
    width: 400px;
    box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
}
body{
    display: flex;
    flex-direction: column;

}
.padding{
    margin:10px 0px;
}
.width{
    width: 100%;
}
.error{
    color: rgb(255, 19, 19);
}
.input-error {
    border: 1px solid red;
}

.exito {
    border: 1px solid rgb(0, 255, 13);
    background-color: rgba(56, 250, 66, 0.5);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}